@font-face {
  font-family: font1;
  src: url(./fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: font2;
  src: url(./fonts/UTM\ Edwardian.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: font3;
  src: url(./fonts/UTM\ Netmuc\ KT.ttf);
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
}

header {
  /* background-image: url("src/pages/user/image/harper-bazaar-phim-insider-nguoi-noi-gian-3-e1654571358101.jpg");
  height: 840px; */
}

nav {
  display: flex;
  justify-content: center;
}

nav ul {
  margin-top: 50px;
  width: 80%;
  background-color: #333333;
  color: white;
  gap: 70px;
  font-size: 20px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  border-radius: 25px;
}

.logo {
  font-size: 25px;
}

.header-text {
  margin-top: 90px;
  margin-left: 150px;
  width: 300px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
}

.header-text h1 {
  font-size: 80px;
  font-family: font3;
  font-weight: 200;
}

.header-text p {
  position: relative;
  bottom: 30px;
  font-size: 60px;
  font-family: font2;
}

.header-text span {
  position: relative;
  bottom: 20px;
  font-size: 18px;
  font-family: font1;
}

.text-btn {
  position: relative;
  bottom: 20px;
  left: 30px;
}

.text-btn-1 {
  background-color: #de8d9b;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 25px;
}

.text-btn-2 {
  background-color: #ffffff00;
  border: none;
  padding: 10px;
  font-weight: bold;
}

.banner-text {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e08e9c;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.banner-text span {
  font-weight: 100;
  font-family: font1;
}

.danhmuc-sp {
  margin-top: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.danhmuc-sp .danhmuc-sp-text {
  width: 700px;
  font-family: font1;
  font-size: 25px;
}

.san-pham {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 200px;
}

.san-pham1 {
  height: 300px;
  /* position: relative; */
  margin-left: 2rem;
}
.san-pham2 {
  height: 300px;
  /* position: relative; */
}

.san-pham-1,
.san-pham-2,
.san-pham-3 {
  display: grid;

  justify-content: center;
  /* position: relative; */
}

/* .san-pham-1 img,.san-pham-2 img,.san-pham-3 img{
    position: relative;
    left: 90px;
  } */

.san-pham p {
  font-size: 20px;
  font-weight: bold;
  font-weight: font2;
}

.san-pham span {
  font-size: 20px;
}

.san-pham button {
  margin-top: 10px;
  background-color: #9ea564;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 20px;
  transition: 0.3s linear;
}

.san-pham button:hover {
  background-color: #333333;
  color: white;
}

.sp-text {
  text-align: left;
  position: relative;
  left: 40px;
}

.user-img {
  background-image: url("src/pages/user/image/shang-chi-2.jpeg");
}
