body {
  font-family: "Poppins";
}
.container {
  max-width: 1266px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ========= HEADER =======*/

header {
  padding: 29.5px 0;
  .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-inner > * {
    width: 33.333333%;
  }
}
.main-menu__link {
  color: #fff;
}
a {
  color: #ffc107;
  background-color:#e2e3e5:
}
